<%- include('partials/header.ejs') %>
</div>
<img src="images/hero.jpg" alt="hero" class="hero" >

<div class="blue-section">
    <div class="container"
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Vivamus posuere mauris lectus, molestie eleifend mi
            tincidunt nec. Aliquam non la</p>
    </div>
</div>
<div class="services">
    <h1>SERVICES</h1>
    <div class="container">
        <div class="service-row row">
            <div class="col-lg-4 col-sm-12">
                <div class="card">
                    <i class="fa fa-handshake fa-2x"></i>
                    <h2>Business Setup</h2>
                    <p>Get a full range of business setup
                        solutions from the region's finest
                        business setup experts...</p>
                    <a href="#">Learn More</a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                <div class="card">
                    <i class="fa fa-money-bills fa-2x"></i>
                    <h2>Banking</h2>
                    <p>Enhance your business with a wide
                        range of financial assistance at your
                        fingertips. Services...</p>
                    <a href="#">Learn More</a>
                </div>
            </div>
            <div class="special-col col-lg-4 col-sm-12">
                <div class="card">
                    <i class="fa fa-newspaper fa-2x"></i>
                    <h2>Insurance</h2>
                    <p>Compare the best insurance deals
                        from a wide range of options. Get
                        home, health, business...</p>
                    <a href="#">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-section">
    <div class="row">
        <div class="img-col col-lg-6 col-sm-12">
            <img src="images/form.jpg" alt="form" class="form">
        </div>
        <div class="form-col col-lg-6 col-sm-12">
            <h1>Contact Us</h1>
            <form action="/">
                <div class="form-group">
                    <label for="name">Full Name</label>
                    <input type="text" class="form-control" id="name" >
                    <label for="phone">Phone Number</label>
                    <input type="tel" class="form-control" id="phone" >
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email" >
                    <button type="submit">Submit</button>

                </div>
            </form>
        </div>
    </div>
</div>
<%- include('partials/footer.ejs') %>